<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="header">
  <meta charset="UTF-8">
  <title>header</title>
  <style>
    #header {
      background-color: palevioletred;
    }
  </style>
  <div id="header">
    헤더 부분입니다.

<!--
    로그인 O
      1. 관리자(admin)라면 관리자모드 링크 보임
      2. 관리자가 아니라면 로그아웃 링크 보임
    로그인 X
      1. 회원가입 링크 보임
-->
    <div th:if="${session.loginEmail}">
      <div th:if="${session.loginEmail.toString().equals('admin')}">
        <a href="#">관리자모드</a>
      </div>
      <div>
        <a href="#">로그아웃</a>
      </div>
    </div>
    <div th:unless="${session.loginEmail}">
        <a href="#">로그인</a>
    </div>
  </div>

</th:block>
</html>