<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>list</title>
  <style>
    .table {
      border: 1px solid #aaa;
    }
    .table tr {
      width: 600px;
      height: 40px;
    }
    .table td {
      align-content: space-evenly;
    }
  </style>
</head>
<body>
  <h2>list.html</h2>

  <table class="table">
    <thead>
      <tr>
        <td>id</td>
        <td>boardTitle</td>
        <td>boardWriter</td>
        <td>boardPassword</td>
        <td>boardContents</td>
        <td>boardHits</td>
        <td>boardCreatedTime</td>
        <td>boardUpdatedTime</td>
      </tr>
    </thead>
    <tbody>
      <tr th:each="board: ${boardList}">
        <td th:text="${board.getId()}"></td>
        <td><a th:href="@{|/board/${board.getId()}|}" th:text="${board.getBoardTitle()}"></a></td>
        <td th:text="${board.getBoardWriter()}"></td>
        <td th:text="${board.getBoardPassword()}"></td>
        <td th:text="${board.getBoardContents()}"></td>
        <td th:text="${board.getBoardHits()}"></td>
        <td th:text="*{#temporals.format(board.getBoardCreatedTime(), 'yyyy-MM-dd HH:mm:ss')}"></td>
        <td th:text="*{#temporals.format(board.getBoardUpdatedTime(), 'yyyy-MM-dd HH:mm:ss')}"></td>
      </tr>
    </tbody>
  </table>
</body>
</html>