<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
  <title>paging</title>
</head>
<body>
<th:block th:replace="commonPages/header :: header"></th:block>

<h2>회원제 게시판</h2>

<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">글번호</th>
    <th scope="col">글쓴이</th>
    <th scope="col">제목</th>
    <th scope="col">작성시간</th>
    <th scope="col">조회수</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="board: ${boardList}">
    <td th:text="${board.id}"></td>
    <td th:text="${board.boardWriter}"></td>
    <td><a th:href="@{|/board/${board.id}|}" th:text="${board.boardTitle}">제목</a></td>
    <td th:text="*{#temporals.format(board.boardCreatedTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
    <td th:text="${board.boardHits}"></td>
  </tr>
  </tbody>
</table>

<!--
    브라우저 주소창에 보이는 주소값: /board?page=1
    /board
    /board/* => /board/(page=1)
    html에서 타임리프로 작성하는 주소값: /board(page=1)
-->

<div class="container">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <!--첫페이지 요청 링크-->
      <a class="page-link" th:href="@{/board(page=1)}">
        <span>First</span>
      </a>
    </li>

    <li th:class="${boardList.first} ? 'disabled'" class="page-item">
      <!--boardList.first: isFirst()
          boardList.number: getNumber()-->
      <a class="page-link" th:href="${boardList.first} ? '#' : @{/board(page=${boardList.number})}">
        <span><</span> <!-- < -->
      </a>
    </li>

    <!-- startPage ~ endPage 까지 숫자를 만들어주는 역할 -->
    <li th:each="page: ${#numbers.sequence(startPage, endPage)}"
        th:class="${page == boardList.number + 1} ? 'page-item active'" class="page-item" th:if="${page} > 0">
      <a class="page-link" th:text="${page}" th:href="@{/board(page=${page})}"></a>
    </li>

    <!-- 다음 페이지 요청
        현재 3페이지를 보고 있다면 다음 페이지는 4페이지임.
        getNumber() 값은 2임.
        따라서 4페이지를 보고 싶다면 getNumber()+2를 해야 컨트롤러에 4를 요청할 수 있음. -->
    <li th:class="${boardList.last} ? 'disabled'">
      <a class="page-link" th:href="${boardList.last} ? '#' : @{/board(page=${boardList.number + 2})}">
        <span>&gt;</span>
      </a>
    </li>

    <li class="page-item">
      <a class="page-link" th:href="${endPage} < 1 ? @{/board(page=${boardList.totalPages + 1})} : @{/board(page=${boardList.totalPages})}">
        <span>Last</span>
      </a>
    </li>
  </ul>
</div>

</body>
</html>